@page
@model ReversiServer.Pages.RejectModel
@{
    ViewData["Title"] = "Reject";
}

<h1>Sorry..</h1>

<h2>It seems like your permissions has been changed. Please login again.</h2>

<h3><a asp-page="Index">Login</a></h3>

