@page
@model ReversiServer.Pages.ReversiModel
@{
    ViewData["Title"] = "Playing";
    Layout = "Shared/_Layout_Reversi";
}

<img src="./dist/img/rBackGround.jpg" id="imgBackground"/>
<!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->